.home-main-section{
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-grow: 1;
    max-width: 70vw;
    align-self: center;
}

.home-main-section .img-wrapper{
    flex-grow: 1;
    flex-direction: column;
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.home-main-section .my-face{
    background-image: url(src/myface.png);
    flex-grow: 1;
    max-width: 50vh;
    min-width: 30vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center left;
}

.home-main-section .call-to-action{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin:8rem;
    align-self: center;
}

.home-main-section .btn{
    color:white;
    font-weight: bold;
    background-color: #2553F6;
    padding: .75rem 1.5rem;
    border-radius: 4rem;
    text-decoration: none;
    font-size: 1.4rem;
    display: flex;
    align-self: center;
}

@media (max-width:900px) {
    .home-main-section{
        max-width: 95vw;
        align-self: left;
    }
    .home-main-section .img-wrapper{
        display: none;
    }
    .home-main-section{
        justify-content: center;
    }
}