@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*, *::before, *::after{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    color: #282937;
    min-height: 100vh;
    text-decoration: none;
    overflow-x: hidden;
}

.full-height-grow{
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.brand-logo{
    display: flex;
    align-items: center;
    font-size: 1.25em;
    color:inherit;
    text-decoration: none;
}

.main-nav ul, .footer-nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;    
    text-decoration: none;
    align-items:center;
    justify-content: center;
}

.main-nav a, .footer-nav a {
    color: #282937;
    font-family: 'Roboto';
    font-weight: bold;
    text-decoration: none;
    padding: 5rem;
}

.main-nav img, .footer-nav img{
    align-self: center;
    justify-self: center;
    text-decoration: none;
}

.main-nav a:hover .footer-nav a:hover{
    color: #ababb1;
}
.main-nav, .footer-nav{
    display: flex;
    justify-content:center;
    align-items:center;
    text-decoration: none;
}
.main-header{
    display: flex;
    justify-content:center;
    align-self: center;
    align-items:center;
    width: 100vw;
    background-color: #ffffff;
    box-shadow: 0px 2px 30px 1px rgba(0, 0, 0, 0.30);
    text-decoration: none;
}
.main-footer{
    display: flex;
    justify-content:center;
    align-self: center;
    align-items:center;
    width: 100vw;
    height: 80px;
    background-color: #ffffff;
    text-decoration: none;
}
.footer-nav{
    display: flex;
    justify-content:center;
    align-self: center;
    align-items:center;
    width: 100vw;
    height: 80px;
    background-color: #fff;
    text-decoration: none;
}

.main-header{
    height: 80px;
}

.container{
    max-width: 1200;
    margin: 0 auto;
    padding: 0 40px;
    text-decoration: none;
    overflow: hidden;
}

.title{
    font-weight: bold;
    font-size: 3em;
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: center;
    text-decoration: none;
}

.bio{
    font-weight:500;
    font-size: 1.2em;
    margin-bottom: 2rem;
    text-align: justify;
}

.main-button{
    color:white;
    font-weight: bold;
    background-color: #2553F6;
    padding: .75rem 1.5rem;
    border-radius: 4rem;
    text-decoration: none;
    font-size: 1.4rem;
}
